<% if user_signed_in? %>
    <div>

		<%= form_with(model:[post,post_comment], url:post_post_comments_path(post)) do |f| %>
			<!-- current_userがその投稿に気になるをしていたら -->
			    <% ids = post.likes.pluck('user_id') %>
				<% if ids.size > (ids - [current_user.id]).size %>
					<%= f.text_area :text, class: "comment-form form-control" %>
					<%= f.submit "コメントする" %>
				<% else %>
					<span>
						<% if post.liked_by?(current_user) %>
						  <%= link_to post_likes_path(post), method: :delete, local: true do %>
						    <i class="fa fa-heart" style="color: red;" aria-hidden="true" ></i>
						    気になる: <%= post.likes.count %>
						  <% end %>
						<% else %>
						  <%= link_to post_likes_path(post), method: :post, local: true do %>
						    <i class="far fa-heart" aria-hidden="true"></i>
						    気になる: <%= post.likes.count %>
						  <% end %>
						<% end %>
					</span>
				<% end %>
				

		<% end %>
	</div>
<% end %>