<div class="container">
	<% if @stock_posts.present? %>
		<div class="row">
			<div class="stock-tag col-md-2">
			<h4><strong>タグ</strong></h4>
			<% @stock_posts.each do |post| %>
				
					<% post.tags.each do |tag| %>
						<button class="stock-tag-name">
							<%= link_to tag.name, posts_path(tag_name: tag.name) %>
						</button>
					<% end %>
				
			<% end %>
			</div>
			<% @stock_posts.each do |post| %>
				
				<div class="stock-index col-md-10">
					<div class="post-articles row">
						<div class="post-article col-md-1">
							<%= link_to user_path(post.user) do %>
								<%= attachment_image_tag post.user, :profile_image, :fill, 20, 20,fallback: "no_image.jpg", class: 'image' %>
							<% end %>
						</div>
						<div class="post-article col-md-11">
							<span class="index-title"><%= link_to post.title, post_path(post) %></span>
							<span class="pull-right">
								<i class="far fa-comment"></i>
								<%= post.post_comments.count %>
							</span>
							<div class="post-ul">
								<%= link_to post.user.name, user_path(post.user) %>さんが<%= time_ago_in_words(post.created_at) %>前に投稿
							</div>
							<div class="post-tag">
								<!-- タグ -->
								<% post.tags.each do |tag| %>
									<button class="post-button">
										<%= link_to tag.name, posts_path(tag_name: tag.name), class: "tag-btn" %>
									</button>
								<% end %>
								<!-- タグ -->
							</div>
						</div>
					</div>
				</div>
			<% end %>
		</div>
	<% else %>
		<p>ストックはまだありません</p>
	<% end %>
</div>