<div class="container">
<div class="gretel">
	<% breadcrumb :useredit, @user %>
	<%= breadcrumbs separator: " &rsaquo; " %>
</div>
<div class="row">
	<div>
				<% if @user.errors.any? %>
					<ul>
						<% @user.errors.full_messages.each do |message| %>
							<li><%= message %></li>
						<% end %>
					</ul>
				<% end %>

			</div>
	<div class="user-edit">
		<h3><strong>プロフィール設定</strong></h3>
			
		<%= form_with(model: @user, local: true, url: user_path(@user)) do |f| %>
			<h4>名前</h4>
			<%= f.text_field :name, autofocus: true, class: "user-edit-name" %><br>
			<h4>プロフィール画像</h4>
			<%= f.attachment_field :profile_image, placeholder: "プロフィール画像", class: "user-edit-form" %>
			<h4>自己紹介</h4>
			<%= f.text_area :introduction, placeholder: "例）大学卒業後、新卒で損害保険会社に入社し、リテール営業を2年間務めていまし。
　　主に保険代理店のマネジメントをやっていたので、間接営業については詳しくお話しできると思います。", class: 'user-edit-introduction' %><br>
			<%= f.submit "更新する", class: "edit-user-submit" %>
		<% end %>
	</div>
</div>
</div>






















