<div class="container">
	<ul class="switch">
		<li class="tab-list1"><%= link_to 'フォロワー', '#', class: 'active', data: {id: "followers"} %></li>
		<li class="tab-list2"><%= link_to 'フォロー', '#', data: {id: "following"} %></li>
	</ul>
	<section class='content active' id="followers">
		<div class = "row">
			<h2>フォロワー</h2>
			<% if @followers_users.empty? %>
				<p>フォロワーはまだいません</p>
			<% else %>
				<table class = "table">
					<% @followers_users.each do |user| %>
						<tr>
							<td><%= link_to user_path(user) do %>
								<%= attachment_image_tag user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "following-img pull-left profile-img", fallback: "no_image.jpg" %>
								<% end %>
							</td>
							<td><%= link_to user.name, user_path(user) %></td>
							<td><%= "フォロー数：#{user.following.count}" %></td>
							<td><%= "フォロワー数：#{user.followers.count}" %></td>
						</tr>
					<% end %>
				</table>
			<%end%>
		</div>
	</section>
	<section class="content" id="following">
		<div class = "row">
			<h2>フォロー中</h2>
			<% if @following_users.empty? %>
				<p>フォロー中のユーザーはまだいません</p>
			<% else %>
				<table class = "table">
					<% @following_users.each do |user| %>
						<tr>
							<td><%= link_to user_path(user) do %>
								<%= attachment_image_tag user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "following-img pull-left profile-img", fallback: "no_image.jpg" %>
								<% end %>
							</td>
							<td><%= link_to user.name, user_path(user) %></td>
							<td><%= "フォロー数：#{user.following.count}" %></td>
							<td><%= "フォロワー数：#{user.followers.count}" %></td>
						</tr>
					<% end %>
				</table>
			<%end%>
		</div>
	</section>
</div>