<div class="container">
<div class="gretel">
	<% breadcrumb :followed, @user %>
	<%= breadcrumbs separator: " &rsaquo; " %>
</div>
<div class = "row">
	<h2>Follow Users</h2>
	<% if @users.empty? %>
		<p>ユーザーはいません</p>
	<% else %>
		<table class = "table">
			<% @users.each do |user| %>
				<tr>
					<td><%= attachment_image_tag user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "following-img pull-left profile-img", fallback: "no_image.jpg" %></td>
					<td><%= user.name %></td>
					<td><%= "フォロー数：#{user.following.count}" %></td>
					<td><%= "フォロワー数：#{user.followers.count}" %></td>
				</tr>
			<% end %>
		</table>
	<%end%>
</div>
</div>