<div class="container">
	<div class="gretel">
		<% breadcrumb :user, @user %>
		<%= breadcrumbs separator: " &rsaquo; " %>
	</div>
	<div class="user-message">
		<%= flash[:notice] %>
	</div>
	<div class="row">
		<div class="user-show-right col-md-3">
			<h3><strong>ユーザー情報</strong></h3>
			<div class="show-name">
				<h4>名前</h4>
				<p class="show-name-topic"><%= @user.name %></p><br>
			</div>
			<div class="show-introduction">
				<h4>経歴</h4>
				<p class="show-introduction-topic"><%= @user.introduction %></p><br>
			</div>
			<div class="user-show-edit">
				<% if @user == current_user %>
			      	<%= link_to "プロフィールを編集する", edit_user_path(@user), class: 'btn btn-success' %>
			    <% else %>
			    	<% if current_user.following?(@user) %>
				        <%= render 'users/unfollow', user: @user %>
				    <% else %>
				    	<%= render 'users/follow', user: @user %>
				    <% end %>
				<% end %>
			</div>
		</div>
		<div class="user-show-middle col-md-5">
			<div class="show-right-top">
				<h3><strong>すべての投稿</strong></h3>
				<% if @posts.exists? %>
					<% @posts.each do |post| %>
						<div class="article-column">
							<h4><strong><%= link_to post.title, post_path(post) %></strong></h4>投稿日時: <%= post.created_at.to_s(:datetime) %>
							<h4 class="column-title"><%= "#{post.likes.count} 人が注目してます" %></h4>
						</div>
					<% end %>
				<% else %>
					<p>投稿はまだありません</p>
				<% end %>
			</div>
			<div class="show-right-bottom">
				<h3><strong>すべてのコメント</strong></h3>
				<% if @comments.exists? %>
					<% @comments.each do |comment| %>
						<div class="column-title">
							<h4><strong><%= link_to comment.text.truncate(50), post_path(comment.post) %></strong></h4>
							<p>投稿日時:  <%= comment.created_at.to_s(:datetime) %></p>
							<p><%= link_to comment.post.user.name, user_path(comment.post.user) %>さんへのコメント</p>
						</div>
					<% end %>
				<% else %>
					<p>コメントはまだありません</p>
				<% end %>

			</div>
		</div>

			<div class="show-details col-md-4">

					<div class="show-inner-more">
						<div class="show-detail-head">
							<div class="show-head-topic">
								<%= attachment_image_tag @user, :profile_image, :fill,20, 20,fallback: "no_image.jpg", class: 'detail-head-image' %>
							</div>
						</div>
						<div class="show-detail-foot row">
							<div class="show-detail-left col-md-4">
								<p class="show-detail"><%= link_to @user.posts.count, user_path(@user) %></p>
								<p class="show-detail-letter"><%= link_to '投稿', user_path(@user) %></p>
							</div>
							<div class="show-detail-middle col-md-4">
								<p class="show-detail"><%= link_to @user.following.count, following_user_path(@user) %></p>
								<p class="show-detail-letter"><%= link_to 'フォロー', following_user_path(@user) %></p>
							</div>
							<div class="show-detail-right col-md-4">
								<p class="show-detail"><%= link_to @user.followers.count, followers_user_path(@user) %></p>
								<p class="show-detail-letter"><%= link_to 'フォロワー', followers_user_path(@user) %></p>
							</div>
						</div>

				</div>
			</div>

	</div>
</div>





