<div class="gretel">
	<% breadcrumb :user, @user %>
	<%= breadcrumbs separator: " &rsaquo; " %>
	</div>
<div class="row">
	<div class="user-show-left col-md-3">
		<h3><strong>ユーザー情報</strong></h3>
		<%= attachment_image_tag @user, :profile_image, :fill, 80, 80, class: "image", fallback: "no_image.jpg" %>
		<div class="show-details row">
			<div class="row">
				<p class="show-detail"><%= link_to @user.posts.count, user_path(@user) %></p>
				<p class="show-detail-letter"><%= link_to '投稿', user_path(@user) %></p>
			</div>
			<div class="row">
				<p class="show-detail"><%= link_to @user.following.count, following_user_path %></p>
				<p class="show-detail-letter"><%= link_to 'フォロー', following_user_path %></p>
			</div>
			<div class="row">
				<p class="show-detail"><%= link_to @user.followers.count, followers_user_path %></p>
			<p class="show-detail-letter"><%= link_to 'フォロワー', followers_user_path %></p>
			</div>
		</div>
		<div class="show-name">
			<h4>名前</h4>
			<p class="show-name-topic"><%= @user.name %></p><br>
		</div>
		<div class="show-introduction">
			<h4>職務、経歴</h4>
			<p class="show-introduction-topic"><%= @user.introduction %></p><br>
		</div>
		<div class="show-email">
			<h4>メールアドレス</h4>
			<p class="show-email-topic"><%= @user.email %></p><br>
		</div>
		<div class="user-show-edit">
			<% if @user == current_user %>
		      	<%= link_to "プロフィールを編集する", edit_user_path(@user), class: 'btn btn-success' %>
		    <% else %>
		    	<% if current_user.following?(@user) %>
			        <%= render 'users/unfollow', user: @user %>
			    <% else %>
			    	<%= render 'users/follow', user: @user %>
			    <% end %>
			<% end %>
		</div>
	</div>
	<div class="user-show-right col-md-6">
		<div class="show-right-top">
			
				<h3><strong>すべての投稿</strong></h3>
				<% @posts.each do |post| %>
					<div class="article-column">
						<h4><strong><%= link_to post.title, post_path(post) %></strong></h4>投稿日時: <%= post.created_at.to_s(:datetime) %>
						<h4 class="column-title"><%= "#{post.likes.count} 興味ある" %></h4>
					</div>
				<% end %>
			
		</div>
		<div class="show-right-bottom">
			<h3><strong>すべてのコメント</strong></h3>
			<% @comments.each do |comment| %>
				<div class="column-title">

						<h4><strong><%= link_to comment.text, post_path(comment.post) %></strong></h4>
						<p>send to  <%= link_to comment.post.user.name, user_path(comment.post.user) %></p>
						<p>投稿日時:  <%= comment.created_at.to_s(:datetime) %></p>

						<!-- <h4>コメントがありません</h4> -->

				</div>
			<% end %>
		</div>
	</div>
</div>







