<div class="user-show">
	<div class="gretel">
	<% breadcrumb :user, @user %>
	<%= breadcrumbs separator: " &rsaquo; " %>
	</div>


	<h3><strong>My page</strong></h3>

	<%= attachment_image_tag @user, :profile_image, :fill, 80, 80, class: "image", fallback: "no_image.jpg" %>

	<h4>名前</h4>
	<%= @user.name %><br>

	<h4>職務、経歴</h4>
	<%= @user.introduction %><br>

	<h4>メールアドレス</h4>
	<%= @user.email %><br>
	<div class="user-show-edit">
		<% if @user == current_user %>
	      <%= link_to "プロフィールを編集する", edit_user_path(@user), class: 'btn btn-success' %>
	<% end %>
	</div>
	

</div>





