<div class="gretel">
	<% breadcrumb :user, @user %>
	<%= breadcrumbs separator: " &rsaquo; " %>
	</div>
<div class="row">
	<div class="user-show-left col-md-3">
		<h3><strong>ユーザー情報</strong></h3>
		<%= attachment_image_tag @user, :profile_image, :fill, 80, 80, class: "image", fallback: "no_image.jpg" %>
		<div class="show-name">
			<h4>名前</h4>
			<p class="show-name-topic"><%= @user.name %></p><br>
		</div>
		<div class="show-introduction">
			<h4>職務、経歴</h4>
			<p class="show-introduction-topic"><%= @user.introduction %></p><br>
		</div>
		<div class="show-email">
			<h4>メールアドレス</h4>
			<p class="show-email-topic"><%= @user.email %></p><br>
		</div>
		<div class="user-show-edit">
			<% if @user == current_user %>
		      	<%= link_to "プロフィールを編集する", edit_user_path(@user), class: 'btn btn-success' %>
			<% end %>
		</div>
	</div>
	<div class="user-show-right col-md-6">
		<div class="show-right-top">
			
				<h3><strong>すべての投稿</strong></h3>
				<% @posts.each do |post| %>
					<div class="article-column">
						<h4><strong><%= link_to post.title, post_path(post) %></strong></h4>投稿日時: <%= post.created_at.to_s(:datetime) %>
						<h4 class="column-title"><%= "#{post.likes.count} 興味ある" %></h4>
					</div>
				<% end %>
			
		</div>
		<div class="show-right-bottom">
			<h3><strong>すべてのコメント</strong></h3>
			<% @comments.each do |comment| %>
				<div class="column-title">
					<% if comment %>
						<h4><strong><%= link_to comment.text, post_path(comment.post) %></strong></h4>投稿日時: <%= comment.created_at.to_s(:datetime) %>
					<% else %>
						<h4>コメントがありません</h4>
					<% end %>
				</div>
			<% end %>
		</div>
	</div>
</div>







