<div class="gretel">
	<% breadcrumb :user, @user %>
	<%= breadcrumbs separator: " &rsaquo; " %>
	</div>
<div class="row">
	<div class="user-show">
		<h3><strong>ユーザー情報</strong></h3>
		<%= attachment_image_tag @user, :profile_image, :fill, 80, 80, class: "image", fallback: "no_image.jpg" %>
		<div class="show-name">
			<h4>名前</h4>
			<p class="show-name-topic"><%= @user.name %></p><br>
		</div>
		<div class="show-introduction">
			<h4>職務、経歴</h4>
			<p class="show-introduction-topic"><%= @user.introduction %></p><br>
		</div>
		<div class="show-email">
			<h4>メールアドレス</h4>
			<p class="show-email-topic"><%= @user.email %></p><br>
		</div>
		<div class="user-show-edit">
			<% if @user == current_user %>
		      	<%= link_to "プロフィールを編集する", edit_user_path(@user), class: 'btn btn-success' %>
			<% end %>
		</div>
	</div>
</div>







