<div class="container">
	<% if @post.errors.any? %>
  <div class = "alert">
    <ul>
        <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
   </div>
<% end %>
	
	<div class="form-group">
		<div class="confirm-title row">
			<%= @post.emoji %>
		</div>
		<div class="confirm-title row">
			<%= @post.title %>
		</div>
		<div class="confirm-tag row">
			<%= @post.tag_list %>
		</div>
		<div class="confirm-text row">
			<%= @post.text %>
		</div>
		<%= form_with(model: @post, local: true, url: posts_path) do |f| %>
			<%= f.hidden_field :user_id, value: current_user.id %>
			<%= f.hidden_field :emoji %>
			<%= f.hidden_field :title %>
			<%= f.hidden_field :text %>
			<%= f.hidden_field :tag_list %>
			<%= f.hidden_field :status, value: :doing %>
			<div class="confirm-button row">
				<%= link_to "修正する", new_post_path(post: @post.attributes), class: 'button-fix btn btn-success' %>
				<%= f.submit "投稿する", class: 'btn btn-danger' %>
			</div>
		<% end %>
	</div>
</div>


