<div class="row">
	<%= search_form_for @q do |f| %>
  <%= f.label :text_cont, "Keyword" %>
  <%= f.search_field :text_cont %>

  <%= f.submit "検索" %>

<% end %>
	<h2><strong>相談一覧</strong></h2>
	<% @posts.each do |post| %>
		<div class="col-md-6">
			<ul class="post-index">
				<h3><%= link_to post.title, post_path(post) %></h3>
				<h5><%= link_to post.text, post_path(post) %></h5>
				<li class="post-image">
					<%= link_to user_path(post.user) do %>
						<%= attachment_image_tag @user, :profile_image, :fill, 50, 50,fallback: "no_image.jpg", class: 'image' %>
					<% end %>
				</li>
				<li id="likes_buttons_<%= post.id %>">
					<%= render 'likes/like', post: post %>
				</li>
				<li class="post-destroy">
					<p><%= link_to '削除する', post_path(post), method: :delete, data: {confirm: "本当に消しますか" }%></p>
				</li>
				<% post.tags.each do |tag| %>
				<div class="btn btn-success">
					<li><%= link_to tag.name, posts_path(tag_name: tag.name) %></li>
				</div>
				
				<% end %>
			</ul>
		</div>
	<% end %>
 </div>
