<div class="gretel">
	<% if params[:q] %>
	<% breadcrumb :postsq, @posts %>
	<%= breadcrumbs separator: " &rsaquo; " %>
	<% elsif params[:tag_name] %>
	<% breadcrumb :tag, @posts %>
	<%= breadcrumbs separator: " &rsaquo; " %>
	<% else %>
	<% breadcrumb :posts, @posts %>
	<%= breadcrumbs separator: " &rsaquo; " %>
	<% end %>
</div>


<div class="row">
	<div class="search-window">
		<%= search_form_for @q do |f| %>
  			<%= f.label :text_cont, "キーワード検索" %>
  			<%= f.search_field :text_cont %>
			<%= f.submit "検索" %>
		<% end %>
	</div>
	<h2><strong>相談一覧</strong></h2>
	<% @posts.each do |post| %>
		<div class="col-md-6">
			<div class="post-index">
				<div class="post-article">
					<h3><%= link_to post.title, post_path(post) %></h3>
					<h5 class="post-text"><%= post.text.truncate(20) %>
							<% if post.text.length > 20 %>
							<%= link_to '詳しくはこちら', post_path(post) %>
						<% end %>
					</h5>
				</div>
				<div class="post-name"><%= link_to post.user.name, user_path(post.user) %></div>
				<ul class="post-ul">
					<li class="post-image">
						<%= link_to user_path(post.user) do %>
							<%= attachment_image_tag post.user, :profile_image, :fill, 50, 50,fallback: "no_image.jpg", class: 'image' %>
						<% end %>
					</li>
					<!-- 興味あるボタン -->
					<% if current_user != post.user %>
					<li class="post-like", id="likes_buttons_<%= post.id %>">
						<%= render 'likes/like', post: post %>
					</li>
					<% end %>
					<!-- 興味あるボタン -->
					<!-- 削除ボタン -->
					<% if current_user == post.user %>
					<li class="post-destroy">
						<p><%= link_to '削除する', post_path(post), method: :delete, data: {confirm: "本当に消しますか" }%></p>
					</li>
					<% end %>
					<!-- 削除ボタン -->
					<!-- タグ -->
					<% post.tags.each do |tag| %>
					<div class="post-tag btn btn-success">
						<li><%= link_to tag.name, posts_path(tag_name: tag.name) %></li>
					</div>
					<% end %>
					<!-- タグ -->
				</ul>
				
			</div>
		</div>
	<% end %>
 </div>
