<div class="container">
	<div style="margin-bottom: 5px;">
    <%= flash[:notice] %>
  </div>
  	<div class="gretel">
		<% if params[:q] %>
			<% breadcrumb :postsq, @posts %>
			<%= breadcrumbs separator: " &rsaquo; " %>
		<% elsif params[:tag_name] %>
			<% breadcrumb :tag, @posts %>
			<%= breadcrumbs separator: " &rsaquo; " %>
		<% else %>
			<% breadcrumb :posts, @posts %>
			<%= breadcrumbs separator: " &rsaquo; " %>
		<% end %>
	</div>
	<div class="row">
		<div class="search-window">
			
			<%= search_form_for @q do |f| %>
			<span class="fa fa-search">
	  			<%= f.search_field :text_cont, placeholder: "本文検索", class: "search-input" %>
	  			</span>
			<% end %>
			
		</div>
		
	</div>
	<div class="row">
		<div class="tab col-md-8">
		    <ul class="menu">
		      <li class="tab-list1"><%= link_to '相談一覧', '#', class: 'active', data: {id: "main"} %></li>
		      <li class="tab-list2"><%= link_to '注目の投稿', '#', data: {id: "attention"} %></li>
		      <li class="tab-list3"><%= link_to '解決済', '#', data: {id: "solved"} %></li>
		    </ul>
	    	<section class='content active' id="main">
	    		<% if @q.result.present? %>

					<% @posts.each do |post| %>
						<div class="post-middle row">
							<div class="post-middle-inner">
								<div class="col-md-2">
									<div class="post-middle-left row">
										<div class="<%= post.status %> post-status"><%= post.status_i18n %></div>
										<div class="post-comments-count">
											<p class="post-response">回答</p>
											<h4><%= post.post_comments.count %></h4>
										</div>
									</div>
								</div>
								<div class="post-index col-md-10">
									<div class="post-article">
										<%= link_to user_path(post.user) do %>
											<%= attachment_image_tag post.user, :profile_image, :fill, 20, 20,fallback: "no_image.jpg", class: 'image' %>
										<% end %>
										<span class="index-title"><%= link_to post.title, post_path(post) %></span>
										<!-- 興味あるボタン -->
										<% if current_user != post.user %>
											<span class="pull-right post-like", id="likes_buttons_<%= post.id %>">
												<%= render 'likes/like', post: post %>
											</span>
										<% end %>
									</div>
									<div class="post-ul">
										<%= link_to post.user.name, user_path(post.user) %>さんが<%= time_ago_in_words(post.created_at) %>前に投稿
									</div>
									<div class="post-tag">
										<!-- タグ -->
										<% post.tags.each do |tag| %>
											<button class="post-button">
												<%= link_to tag.name, posts_path(tag_name: tag.name), class: "tag-btn" %>
											</button>
										<% end %>
										<!-- タグ -->
									</div>
								</div>
							</div>
						</div>
					<% end %>
				<% else %>
					<div class="search-result">
						<%= @q.text_cont %>　に関連する記事はありませんでした。
					</div>
				<% end %>
			</section>
			<section class="content" id="attention">
	      		<div class="posts-ranking">
					<% @all_ranking_posts.each do |post| %>
						<div class="rank-posts">
							<span>
								<%= attachment_image_tag post.user, :profile_image, :fill,20, 20,fallback: "no_image.jpg", class: 'image' %>
							</span>
							<span><%= link_to post.title, post_path(post) %></span>
							<span class="pull-right"><%= post.likes.count %>人が注目しています</span>
							<div>
								<span class="rank-content"><%= link_to post.user.name, user_path(post.user) %>さんが<%= time_ago_in_words(post.created_at) %>前に投稿</span>
							</div>
						</div>
					<% end %>
				</div>
	    	</section>
	    	<section class="content" id="solved">
	    	<% @posts.each do |post| %>
		      <% if post.status == "done" %>
		      	<div class="post-middle row">
							<div class="post-middle-inner">
								<div class="col-md-2">
									<div class="post-middle-left row">
										<div class="<%= post.status %> post-status"><%= post.status_i18n %></div>
										<div class="post-comments-count">
											<p class="post-response">回答</p>
											<h4><%= post.post_comments.count %></h4>
										</div>
									</div>
								</div>
								<div class="post-index col-md-10">
									<div class="post-article">
										<%= link_to user_path(post.user) do %>
											<%= attachment_image_tag post.user, :profile_image, :fill, 20, 20,fallback: "no_image.jpg", class: 'image' %>
										<% end %>
										<span class="index-title"><%= link_to post.title, post_path(post) %></span>
									</div>
									<div class="post-ul">
										<%= link_to post.user.name, user_path(post.user) %>さんが<%= time_ago_in_words(post.created_at) %>前に投稿
									</div>
									<div class="post-tag">
										<!-- タグ -->
										<% post.tags.each do |tag| %>
											<button class="post-button">
												<%= link_to tag.name, posts_path(tag_name: tag.name), class: "tag-btn" %>
											</button>
										<% end %>
										<!-- タグ -->
									</div>
								</div>
							</div>
					</div>
		      <% end %>
		     <% end %>
		    </section>
		</div>
		<div class="row col-md-4">
			<div class="index-details">
				<div class="index-details-inner">
					<div class="inner-more">
						<div class="index-detail-head">
							<div class="detail-head-topic">
								<%= attachment_image_tag current_user, :profile_image, :fill,20, 20,fallback: "no_image.jpg", class: 'detail-head-image' %>
								<span class="profile-name"><%= current_user.name %></span>
							</div>
						</div>
						<div class="index-detail-foot row">
							<div class="index-detail-left col-md-4">
								<p class="index-detail"><%= link_to @user.posts.count, user_path(@user) %></p>
								<p class="index-detail-letter"><%= link_to '投稿', user_path(@user) %></p>
							</div>
							<div class="index-detail-middle col-md-4">
								<p class="index-detail"><%= link_to @user.following.count, following_user_path(@user) %></p>
								<p class="index-detail-letter"><%= link_to 'フォロー', following_user_path(@user) %></p>
							</div>
							<div class="index-detail-right col-md-4">
								<p class="index-detail"><%= link_to @user.followers.count, followers_user_path(@user) %></p>
								<p class="index-detail-letter"><%= link_to 'フォロワー', followers_user_path(@user) %></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="comment-rank">
			<div class="comment-rank-inner">
				
			</div>
		</div>
		</div>
	</div>
</div>
