<% unless user_signed_in? %>
	<div class="topper">
		<div class="container">		
			<div class="login-header">
				<div class="notification">
					<%= flash[:notice] %>
				</div>
				<div class="top-left col-lg-6 col-md-6">
					<h1 class="top-slogan"><strong>Ask for advice.</strong></h1>
					<p class="top-subject">ノットウォーリーは20代のキャリアの悩みを解決するサイトです</p>
					<div class="top-btn">
						<span class="top-guestlogin"><%= link_to "ゲストログイン（閲覧用）", home_guest_sign_in_path, method: :post, class: 'btn btn-success' %></span>
						<span class="top-about"><%= link_to "About notworry", homes_about_path, class: "btn btn-warning" %></span>
					</div>
				</div>
				<div class="top-right col-lg-6 col-md-6">
					<%= image_tag'Devices-bro.png', class: 'login-image' %>
				</div>
			</div>
		</div>
	</div>
<% end %>

<div class="search-window container">
	<div class="row">
		<% if user_signed_in? %>
			<div class="notification-login">
					<%= flash[:notice] %>
			</div>
		<% end %>
		<%= search_form_for @q do |f| %>
			<span class="fa fa-search">
	  			<%= f.search_field :text_cont, placeholder: "本文検索", class: "search-input" %>
	  		</span>
		<% end %>
	</div>
	<div class="gretel">
		<% if params[:q] %>
			<% breadcrumb :postsq, @posts %>
			<%= breadcrumbs separator: " &rsaquo; " %>
		<% elsif params[:tag_name] %>
			<% breadcrumb :tag, @posts %>
			<%= breadcrumbs separator: " &rsaquo; " %>
		<% else %>
			<% breadcrumb :posts, @posts %>
			<%= breadcrumbs separator: " &rsaquo; " %>
		<% end %>
	</div>
</div>
	
<div class="container post-index-container">
	<div class="row">
		<div class="tab col-md-7">
		    <ul class="menu">
		      <li class="tab-list1"><%= link_to '相談一覧', '#', class: 'active', data: {id: "main"} %></li>
		      <li class="tab-list2"><%= link_to '注目の投稿', '#', data: {id: "attention"} %></li>
		      <li class="tab-list3"><%= link_to '解決済', '#', data: {id: "solved"} %></li>
		      <li class="tab-list4"><%= link_to '人気タグ', '#', data: {id: "population"} %></li>
		    </ul>
	    	<section class='content active' id="main">
	    		<% if @q.result.present? %>
					<% @posts.each do |post| %>
						<div class="post-middle row">
							<div class="post-middle-inner">
								<div class="emoji col-sm-2 col-xs-3">
									<div class="emoji-inner">
										<%= post.emoji %>
									</div>
								</div>
								<div class="comment-counts col-sm-2 col-xs-3">
									<div class="post-middle-left row">
										<div class="<%= post.status %> post-status"><%= post.status_i18n %></div>
										<div class="post-comments-count">
											<p class="post-response">回答</p>
											<h4><%= post.post_comments.count %></h4>
										</div>
									</div>
								</div>
								<div class="post-index col-sm-8 col-xs-6">
									<div class="post-article">
										
										<span class="index-title"><%= link_to post.title, post_path(post) %></span>	
									</div>
									<div class="post-ul">
										<span>
										<%= link_to user_path(post.user) do %>
											<%= attachment_image_tag post.user, :profile_image, :fill, 20, 20,fallback: "no_image.jpg", class: 'post-image' %>
										<% end %>
										</span>
										
									</div>
									<span>
										<%= link_to post.user.name, user_path(post.user) %>
									</span>
									<div class="post-tag">
										<!-- タグ -->
										<% post.tags.each do |tag| %>
											<button class="post-button">
												<%= link_to tag.name, posts_path(tag_name: tag.name), class: "tag-btn" %>
											</button>
										<% end %>
										<!-- タグ -->
										<!-- 気になるボタン -->
										<% if user_signed_in? %>
										<% if current_user != post.user %>
											<span class="pull-right post-like", id="likes_buttons_<%= post.id %>">
												<%= render 'likes/like', post: post %>
											</span>
										<% end %>
										<% end %>
										<!-- 気になるボタン -->
									</div>
								</div>
							</div>
						</div>
					<% end %>
				<% else %>
					<div class="search-result">
						<%= @q.text_cont %>　に関連する記事はありませんでした。
					</div>
				<% end %>
				<%= paginate @posts %>
			</section>
			<section class="content" id="attention">
	      		<div class="posts-ranking">
					<% @all_ranking_posts.each do |post| %>
						<div class="rank-posts">
							<span>
								<%= attachment_image_tag post.user, :profile_image, :fill,20, 20,fallback: "no_image.jpg", class: 'post-image' %>
							</span>
							<span class="attention-title"><%= link_to post.title, post_path(post) %></span>
							<span class="attention-count pull-right"><%= post.likes.count %>人が注目</span>
							<div class="rank-contents">
								<span class="rank-content"><%= link_to post.user.name, user_path(post.user) %>が<%= time_ago_in_words(post.created_at) %>前に投稿</span>
							</div>
						</div>
					<% end %>
				</div>
	    	</section>
	    	<section class="content" id="solved">
				<% if @q.result.present? %>
					<% @posts.each do |post| %>
						<% if post.status == "done" %>
							<div class="post-middle row">
								<div class="post-middle-inner">
									<div class="emoji col-sm-2 col-xs-3">
										<div class="emoji-inner">
											<%= post.emoji %>
										</div>
									</div>
									<div class="comment-counts col-sm-2 col-xs-3">
										<div class="post-middle-left row">
											<div class="<%= post.status %> post-status"><%= post.status_i18n %></div>
											<div class="post-comments-count">
												<p class="post-response">回答</p>
												<h4><%= post.post_comments.count %></h4>
											</div>
										</div>
									</div>
									<div class="post-index col-sm-8 col-xs-6">
									<div class="post-article">
										
										<span class="index-title"><%= link_to post.title, post_path(post) %></span>	
									</div>
									<div class="post-ul">
										<span>
										<%= link_to user_path(post.user) do %>
											<%= attachment_image_tag post.user, :profile_image, :fill, 20, 20,fallback: "no_image.jpg", class: 'post-image' %>
										<% end %>
										</span>
										
									</div>
									<span>
										<%= link_to post.user.name, user_path(post.user) %>
									</span>
									<div class="post-tag">
										<!-- タグ -->
										<% post.tags.each do |tag| %>
											<button class="post-button">
												<%= link_to tag.name, posts_path(tag_name: tag.name), class: "tag-btn" %>
											</button>
										<% end %>
										<!-- タグ -->
										
									</div>
								</div>
								</div>
							</div>
						<% end %>
					<% end %>
				<% else %>
					<div class="search-result">
						関連する記事はありません。
					</div>
				<% end %>
		    </section>
		    <section class="content" id="population">
		    	<div class="population-tag">
					<% @tags.each do |tag| %>
						<button class="post-button tab-bar">
							#<%= link_to tag.name, posts_path(tag_name: tag.name), class: "tag-btn tab-bar-tag" %>
						</button>
					<% end %>
				</div>
		    </section>
		</div>
		<div class="user-info col-md-5">
			<% if user_signed_in? %>
				<div class="index-details">
					<div class="index-details-inner">
						<div class="inner-more">
							<div class="index-detail-head">
								<div class="detail-head-topic">
									<span><%= attachment_image_tag current_user, :profile_image, :fill,20, 20, format: 'jpeg', fallback: "no_image.jpg", class: 'detail-head-image' %></span>
									<span class="profile-name"><%= current_user.name %></span>
								</div>
							</div>
							<div class="index-detail-foot row">
								<div class="index-detail-left col-md-4">
									<p class="index-detail"><%= link_to @user.posts.count, user_path(@user) %></p>
									<p class="index-detail-letter"><%= link_to '投稿', user_path(@user) %></p>
									
								</div>
								<div class="index-detail-middle col-md-4">
									<p class="index-detail"><%= link_to @user.following.count, follow_user_path(@user) %></p>
									<p class="index-detail-letter"><%= link_to 'フォロー', follow_user_path(@user) %></p>
								</div>
								<div class="index-detail-right col-md-4">
									<p class="index-detail"><%= link_to @user.followers.count, follow_user_path(@user) %></p>
									<p class="index-detail-letter"><%= link_to 'フォロワー', follow_user_path(@user) %></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			<% end %>
			<div class="comment-rank">
				<div class="comment-rank-inner">
					<div class="rank-inner-more">
						<h4 class="comment-letter">コメント貢献者ランキング</h4>
						<% @contributors.each.with_index(1) do |contributor,i| %>
							<div class="rank-comments">
								<div class="rank-left">
									<% if i == 1 %>
										<span class="ranking">
											<i class="fas fa-trophy is-gold"></i>
										</span>
									<% elsif i == 2 %>
										<span class="ranking">
											<i class="fas fa-trophy is-silver"></i>
										</span>
									<% elsif i == 3 %>
										<span class="ranking">
											<i class="fas fa-trophy is-blonze"></i>
										</span>
									<% else %>
										<span class="ranking other">
											<%= i %>
										</span>
									<% end %>
									<span>
										<%= attachment_image_tag contributor.user, :profile_image, :fill,20, 20,fallback: "no_image.jpg", class: 'post-image' %>
									</span>
									<span class="ranking-title"><%= link_to contributor.user.name, user_path(contributor.user) %></span>
									<% if user_signed_in? %>
									<span class="index-follow pull-right">
										<% if contributor.user == current_user %>
											<span class="rank-in"><%= '🎉' %></span>
										<% elsif current_user.following.include?(contributor.user) %>
											<%= render 'users/unfollow', user: contributor.user %>
										<% else %>
											<%= render 'users/follow', user: contributor.user %>
										<% end %>
									</span>
									<% end %>
								</div>
							</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>

<div class="container app-link-container">
	<div class="row app-link-row">
		<div class="app-link col-sm-12">
			<span><%= image_tag'app_store_logo-43fe606e0484142c0df690530c3e925c4cdafb9ee80a7cf13a322803d446d2c8.png', style: "border-radius: 13px" %></span>
			<span><%= image_tag'google-play-badge-a68cd60e8b6b59e46035419afd6c3dba79b03859b7e651d64a960b55a5e1e583.png', :size => '248x82', style: "border-radius: 13px" %></span>
			<div class="app-coming"><strong>Coming Soon ...</strong></div>
		</div>
		
	</div>
</div>
