


<div class="new-post">
	<%= form_with(model:@post, local: true, url:posts_confirm_path, class: 'container') do |f| %>
		<div>

				<%= f.text_area :title, placeholder: "タイトル", autofocus: true, class: "new-post-title" %>

		</div>

		<div>


			  <%= f.text_area :tag_list, placeholder: "タグ", value: @post.tag_list.join(','), class: "new-post-tag"%>

		</div>



		<div class="row">
			<div class="text col-md-6">

				<%= f.text_area :text, placeholder: "気になることを質問してみよう", class: "text-form" %>
			</div>
			<div class="text-model col-md-6">
				<span class="text-model-1">投稿例：私は新卒で不動産仲介会社に入社しました。</span>
			</div>
		</div>

		



				<%= f.submit "投稿内容を確認する", class: "new-post-submit" %>


	<% end %>
</div>
	
