



	<%= form_with(model:@post, local: true, url:posts_confirm_path, class: 'container') do |f| %>
		<div>
			<div>

				<%= f.text_area :title, placeholder: "タイトル", autofocus: true, class: "new-post-title" %>
			</div>
		</div>

		<div>
			<div>

			  <%= f.text_area :tag_list, placeholder: "タグ", value: @post.tag_list.join(',')%>
			</div>
		</div>



		<div class="row">
			<div class="text col-md-6">

				<%= f.text_area :text, placeholder: "相談内容", class: "form-control" %>
			</div>
			<div class="text-model col-md-6">
				<h4>投稿例：私は新卒で不動産仲介会社に入社しました。</h4>
			</div>
		</div>

		

		<div class="row">
			<div class="col-md-1">
				<%= f.submit "投稿内容を確認する", class: "new-post-submit" %>
			</div>
		</div>
	<% end %>
