<div class="gretel">
	<% breadcrumb :post, @post %>
	<%= breadcrumbs separator: " &rsaquo; " %>
</div>
<div class="row">
	<div class="show">
		<%= link_to user_path(@post.user) do %>
			<%= attachment_image_tag @post.user, :profile_image, :fill, 50, 50,fallback: "no_image.jpg", class: 'image' %>
		<% end %>
		<span><%= @post.user.name %></span>
		<h2><strong><%= @post.title %></strong></h2>
		<% @post.tags.each do |tag| %>
			<div class="post-tag btn btn-success">
				<span><%= link_to tag.name, posts_path(tag_name: tag.name) %></span>
			</div>
		<% end %>
		<h4><%= @post.text%></h4>
	</div>
	<% if @post_comment.present? %>
		<div class="comment-area", id="post_comments_area">
	    	<%= render partial: 'post_comments/postcomment', locals: { post: @post } %>
		</div>
	<% end %>

	<div class="comment-form text-center center-block">
		
		<% if current_user != @post.user%>
	    	<%= render partial: 'post_comments/form', locals: { post_comment: @post_comment, post: @post }  %>
		<% end %>
	</div>
</div>










