
	<%= @post.text %>

<div id="likes_buttons_<%= @post.id %>">
	<%= render 'likes/like', post: @post %>
</div>



<div>
	<%= form_with(model:[@post,@post_comment], url:post_post_comments_path(@post.id), local: true) do |f| %>
		<%= f.text_area :text %>
		<%= f.submit "コメントする" %>
	<% end %>
</div>












