<div class="gretel">
	<% breadcrumb :post, @post %>
	<%= breadcrumbs separator: " &rsaquo; " %>
</div>
<div class="row">
	<div class="show">
		<h2><strong><%= @post.title %></strong></h2>
		
		<h4><%= @post.text%></h4>
	</div>
	<% if @post_comment.present? %>
		<div class="comment-area", id="post_comments_area">
	    	<%= render partial: 'post_comments/postcomment', locals: { post: @post } %>
		</div>
	<% end %>

	<div class="comment-form text-center center-block">
		
		<% if current_user != @post.user%>
	    	<%= render partial: 'post_comments/form', locals: { post_comment: @post_comment, post: @post }  %>
		<% end %>
	</div>
</div>










