<div class="gretel">
	<% breadcrumb :post, @post %>
	<%= breadcrumbs separator: " &rsaquo; " %>
</div>

	<%= @post.text %>

<div id="likes_buttons_<%= @post.id %>">
	<%= render 'likes/like', post: @post %>
</div>



<div id="post_comments_area">
    <%= render partial: 'post_comments/postcomment', locals: { post: @post } %>
</div>




<% if user_signed_in? %>
    <%= render partial: 'post_comments/form', locals: { post_comment: @post_comment, post: @post } %>
<% end %>










