<div class="navbar navbar-fixed-top">
  <nav class="nav navbar-nav navbar-left">
    <% if user_signed_in? %>
      <li>
        <%= link_to posts_path do %>
          <i class="fas fa-tree"></i>|<span class="logo"><strong>notworry</strong></span><br>
        <% end %>
      </li>
    <% else %>
      <li>
        <%= link_to root_path do %>
          <i class="fas fa-tree"></i>|<span class="logo"><strong>notworry</strong></span><br>
        <% end %>
      </li>
    <% end %>
  </nav>
  <nav>
    <ul class="nav navbar-nav navbar-right header-ul">
      <% if user_signed_in? %>
        <li>
            <%= link_to stocks_path do %>
              <i class="fab fa-get-pocket"></i>  ストック一覧
            <% end %>
        </li>
        <li><%= link_to new_post_path do %>
              <i class="fas fa-pen"></i>  投稿する
            <% end %>
        </li>
        <li>
            <%= link_to user_path(current_user) do %>
              <i class="fas fa-user"></i>  マイページ
            <% end %>
        </li>
        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fas fa-sign-out-alt"></i>  ログアウト
          <% end %>
        </li>
      <% else %>
        <li><%= link_to "ゲストログイン(閲覧用)", home_guest_sign_in_path, method: :post %></li></li>
        <li><%= link_to "新規登録", new_user_registration_path %></li>
        <li><%= link_to "ログイン", new_user_session_path %></li>
      <% end %>
    </ul>
  </nav>
</div>









