
  <header class="navbar navbar-fixed-top">
      
        <nav class="nav navbar-nav navbar-left">
          <li><%= link_to "ホーム", root_path %></li>
        </nav>
        <nav>
          <ul class="nav navbar-nav navbar-right header-ul">
          <% if user_signed_in? %>
            <li><%= link_to "検索", posts_search_path %></li>
            <li><%= link_to "相談一覧", posts_path %></li>
            <li><%= link_to "相談内容を書く", new_post_path %></li>
            <li><%= link_to "マイページ", user_path(current_user) %></li>
            <li><%= link_to "logout", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "相談一覧", posts_path %></li>
            <li><%= link_to "sign up", new_user_registration_path %></li>
            <li><%= link_to "login", new_user_session_path %></li>
          <% end %>
        </ul>
        </nav>
</header>









