<div class="outof-header">
<div class="container header-container">
<header>
  <div class="header-left">
    <div class="top-imagephoto">
    <% if user_signed_in? %>
      <%= link_to posts_path do %>
            <%= image_tag'notworry.png', class: "original-image" %>
      <% end %>
    <% else %>
      <%= link_to root_path do %>
          <%= image_tag'notworry.png', class: "original-image" %>
      <% end %>
    <% end %>
    </div>
    <ul class="header-list pull-right">
    <% if user_signed_in? %>
      
      <li class="text-right header-element">
            <%= link_to stocks_path do %>
              <i class="fab fa-get-pocket"></i>
            <% end %>
        </li>
        <li class="text-right header-element">
            <%= link_to new_post_path do %>
              <i class="fas fa-pen"></i>
            <% end %>
        </li>
        <li class="text-right header-element">
            <%= link_to user_path(current_user) do %>
              <i class="fas fa-user"></i>
            <% end %>
        </li>
        <li class="text-right header-element">
          <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fas fa-sign-out-alt"></i> 
          <% end %>
        </li>
    <% else %>
      <li class="text-right header-element"><%= link_to "新規登録", new_user_registration_path %></li>
      <li class="text-right header-element"><%= link_to "ログイン", new_user_session_path %></li>
    <% end %>
    </ul>

  </div>
</header>
</div>
</div>






