<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class = gazou>
      <%= image_tag '/assets/images/nagano.png', :size => '200x200' %>
    </div>
    
    <header>
      <div>
        <ul>
          <% if user_signed_in? %>
            
            <li><%= link_to "ホーム", root_path %></li>
            <li><%= link_to "投稿一覧", posts_index_path %></li>
            <li><%= link_to "logout", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= image_tag '/assets/images/logo.png', :size => '90x90' %></li>
            <li><%= link_to "relaxについて", home_about_path %></li>
            <li><%= link_to "投稿一覧", posts_index_path %></li>
            <li><%= link_to "sign up", new_user_registration_path %></li>
            <li><%= link_to "login", new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
