<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div>
        <ul>
          <li><%= link_to "ホーム", root_path  %></li>
          <li><%= link_to "relaxについて", home_about_path %></li>
          <li><%= link_to "sign up", new_user_registration_path %></li>
          <li><%= link_to "login", new_user_session_path %></li>
          <li><%= link_to "logout", destroy_user_session_path, method: :delete %></li>
        </ul>
        
      </div>
    </header><!-- /header -->
    <%= yield %>
  </body>
</html>
